*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

/* .image-container-main {
  width: 40%;
  margin: auto;
  overflow: hidden;
}

.slider-track {
  white-space: nowrap;
}

.slide {
  height: 100vh;
  width: 100%;
  object-fit: cover;
} */

/* .carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
} */

.image-container-main {
  width: 40%;
  height: 700px;
  overflow: hidden;
}

.slider-track {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  transition: all 350ms cubic-bezier(0.81, 0.16, 0.59, 0.9);
  transition-delay: 50ms;
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.81, 0.16, 0.59, 0.9);
}
.active-slide {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image-content {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5rem;
  opacity: 0;
}

.active-content {
  --animation-name: right-left;
  animation: var(--animation-name) 250ms linear 200ms forwards;
}

@keyframes left-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes right-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
